<%- include('partials/header'); -%>
<h1>COMPOSE</h1>

<form action="/compose" method="post">
    <label for="">Title</label>
    <input class="form-control" type="text" name="composedTitle" id="">
    <br>
    <label for="">Post</label>
    <textarea class="form-control" name="composedPost" rows="5"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include('partials/footer'); -%>